/* CSS version 1.0 https: //github.com/stadium-software/switch */
:root {
    --stadium-switch-off-background-color: #ccc;
    --stadium-switch-on-background-color: #1976d2;
    --stadium-switch-button-color: white;
    --stadium-switch-scale: 1.1;
}